body {
    display: flex;
    flex-direction: column;
}

/*Header*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1f2937;
    
}

.logo {
    color: #F9FaF8;
    font-size: 24px;
    margin-left: 150px;
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    gap: 15px;
    margin-right: 150px;

    color: #F9FaF8;
    font-size: 18px;
}

/*Team Summary*/

.introduction {
    background: #1f2937;
    color: #F9FaF8;
    font-size: 18px;
    width: 100%;

    padding-left: 150px;
    padding-right: 150px;
}

.introduction h2 {
    font-size: 48px;
    font-weight: bolder
}

/* Images and bios*/

.information > h2 {
    text-align: center;
}
.cast-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: -40px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 40px;
    background: white;
}

.bio {
    width: 200px;
    font-size: 18px;
    border: dotted black 2px;
    background: #E5E7EB;
    text-align: center;

    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 20px;
}

.portrait {
    width: 100px;

    height: auto;
    border: solid 4px #3882f6; 
    border-radius: 10%; 
}

/*Quote*/

.quote {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex-basis: auto;

    height: 300px;
}

.quote-text {
    width: 400px;
    flex-wrap: wrap;

    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-attribute {
    color: #1f2937;
    font-weight: 700;
    margin-top: -30px;
    margin-right: -400px;
    width: 200px;
}


/*Popup*/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.popup {
    display: flex;
    justify-content: center;
    width: 700px;
    flex-basis: auto;
    background: #3882f6;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    color: #F9FaF8;
    border-radius: 15px;
}

.popup div h3 {
    margin-bottom: -10px;
    font-size: 20px;
}

.popup button {
    width: 120px;
    height: 40px;
    background: none;
    border: solid 3px #F9FaF8;
    border-radius: 15px; 
    color: #F9FaF8;
    font-size: 15px;
    font-weight: 900;
}

/*Footer*/

.footer {
    display: flex;
    background: #1f2937;
    color: #F9FaF8;
    justify-content: center;
    align-items: center;
    height: 80px;
}